.container {
    width: 100%;
    margin: 0 auto;
    max-width: 959px;
    text-align: center;
    padding: 50px;
}

:host {
    box-sizing: border-box;
}

@media screen and (max-width: 959px) {
    .container {
        padding: 50px 10px;
    }
}