<mat-toolbar color="primary">
    <mat-toolbar-row class="row-1">
        <a href="https://api.whatsapp.com/send?phone=447869378211">
            <img src="../../../assets/icon-whatsapp.svg" alt="whatsApp">
        </a>
        <a href="https://www.linkedin.com/in/igorshevchuk">
            <img src="../../../assets/icon-linkedin.svg" alt="linkedin">
        </a>
        <a href="https://github.com/IgorShevchuk111">
            <img src="../../../assets/icon-github.svg" alt="github">
        </a>

    </mat-toolbar-row>
    <mat-toolbar-row class="row-2">
        <span>© Copyright 2022 Angular-Developer</span>
    </mat-toolbar-row>
</mat-toolbar>