.row-1 {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}

.row-2 {
    display: flex;
    justify-content: center;
}

mat-toolbar {
    position: fixed;
    bottom: 0;

    mat-toolbar-row a {
        display: flex;
    }
}