<div class="container">
    <div class="color-accent level-1">Projects</div>
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="project">
            <a href="https://online-for-us.web.app/" target="_blank">
                <img style="width:268px"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTw3HApB4bsvabXW3L14cV-LhFo0L71QmEESJN3vW9Ow&s"
                    alt="React-img"></a>
            <div class="level-2 " style="margin: 20px 0 -12px;">Online-Shop</div>
        </div>
        <div class="project">
            <a href="https://blog-angular-material.web.app/" target="_blank">
                <img style="width:300px"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    alt="Angular-img"></a>
            <div class="level-2">Angular-Blog</div>
        </div>
    </div>
</div>