// Menu
mat-toolbar {
    display: grid;
    grid-template: 1fr/ 1fr repeat(2, auto);
    gap: 0 20px;

    div:nth-child(4) {
        display: none;
    }

    div {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 0 20px;
    }
}

// Mat-Slide-Toggle
mat-icon {
    margin: -2px;
}

:host ::ng-deep .mat-slide-toggle-bar {
    background: #282727
}

:host ::ng-deep .mat-slide-toggle-thumb {
    background: #000;
}

:host ::ng-deep.mat-checked .mat-slide-toggle-bar {
    background: #282727
}

:host ::ng-deep.mat-checked .mat-slide-toggle-thumb {
    background: #000;
}

// Cursor
span:hover {
    cursor: pointer;
}

// Media
@media screen and (max-width: 599px) {}

@media screen and (max-width: 959px) {
    mat-toolbar {
        div:nth-child(2) {
            display: none;
        }

        div:nth-child(4) {
            display: block;
        }
    }
}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1919px) {}