.container {
    text-align: center;
    padding: 100px;
    background: url('../../assets/home-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

@media screen and (max-width: 959px) {
    .container {
        padding: 100px 10px;
    }
}